<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/"></ion-back-button>

    </ion-buttons>

    <ion-title>Solicitud de retiro</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Solicitud de retiro</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Llene los siguientes campos con sus datos para concluir la solicitud de su retiro.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <form>
      <ion-card-content>

        <ion-item>

          <ion-label position="stacked">Ingrese la cantidad a retirar</ion-label>
          <ion-input type="number" placeholder="Importe de retiro"></ion-input>

        </ion-item>

        <ion-list>

          <ion-item>
            <ion-label position="stacked">Concepto de retiro</ion-label>
            <ion-select interface="popover" placeholder="Selecciona el tipo de retiro">
              <ion-select-option value="apples">Transferencia</ion-select-option>
              <ion-select-option value="oranges">Retiro por préstamo</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>

        <ion-list>

          <ion-item>
            <ion-label position="stacked">Tipo de retiro</ion-label>
            <ion-select interface="popover" placeholder="Selecciona el tipo de retiro">
              <ion-select-option value="apples">Total</ion-select-option>
              <ion-select-option value="oranges">Parcial</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>

        <ion-button class="button-1" expand="full" fill="solid" type="submit">
          Generar Solicitud
        </ion-button>
      </ion-card-content>
    </form>

  </ion-card>

</ion-content>