<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/"></ion-back-button>

    </ion-buttons>

    <ion-title>Solicitud de retiro</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Solicitud de retiro</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Llene los siguientes campos con sus datos para concluir la solicitud de su retiro.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content class="ion-padding">
      <form (ngSubmit)="logForm()">

        <ion-item>

          <ion-label position="stacked">Ingrese la cantidad a retirar</ion-label>
          <ion-input type="number" name="amount"></ion-input>

        </ion-item>

        <ion-list>

          <ion-item>
            <ion-label position="stacked">Concepto de retiro</ion-label>
            <ion-select type="string" interface="popover" placeholder="Selecciona el concepto de retiro" name='concepto'>
              <ion-select-option value="Transferencia">Transferencia</ion-select-option>
              <ion-select-option value="Prestamo">Retiro por préstamo</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>

        <ion-list>

          <ion-item>
            <ion-label position="stacked">Tipo de retiro</ion-label>
            <ion-select interface="popover" placeholder="Selecciona el tipo de retiro">
              <ion-select-option value="Total">Total</ion-select-option>
              <ion-select-option value="Parcial">Parcial</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button expand="full" fill="solid" type="submit">
          Generar Solicitud
        </ion-button>

       </form>
      </ion-card-content>

  </ion-card>

</ion-content>