<ion-card>
    <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
            <ion-tab-button tab="soli-retiro" class="item1">
                <ion-icon name="download-outline"></ion-icon>
                <ion-label>Solicitud de retiro</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="solicitud" class="item2">
                <ion-icon name="cash-outline"></ion-icon>
                <ion-label>Solcitar prestamo</ion-label>
            </ion-tab-button>
    </ion-card-content>
</ion-card>